<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JobLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JobLogger.Properties.Settings>
            <setting name="AuthorAbbreviation" serializeAs="String">
                <value />
            </setting>
            <setting name="TracUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="TracPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowTicketing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTeaTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </JobLogger.Properties.Settings>
    </userSettings>
</configuration>